## Importing the dependencies

In [1]:
import numpy as np
import pandas as pd

In [2]:
from nsepy import get_history
from datetime import date

## Importing/ Downloading data

In [3]:
infy=get_history(symbol="INFY",start=date(2015,1,1),end=date(2016,12,31))

In [4]:
tcs=get_history(symbol="TCS",start=date(2015,1,1),end=date(2016,12,31))

In [5]:
infy.head() # 495 rows Ã— 14 columns

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-01-01,INFY,EQ,1972.55,1968.95,1982.00,1956.9,1971.00,1974.40,1971.34,500691,9.870306e+13,14908,258080,0.5154
2015-01-02,INFY,EQ,1974.40,1972.00,2019.05,1972.0,2017.95,2013.20,2003.25,1694580,3.394669e+14,54166,1249104,0.7371
2015-01-05,INFY,EQ,2013.20,2009.90,2030.00,1977.5,1996.00,1995.90,2004.59,2484256,4.979911e+14,82694,1830962,0.7370
2015-01-06,INFY,EQ,1995.90,1980.00,1985.00,1934.1,1965.10,1954.20,1954.82,2416829,4.724458e+14,108209,1772070,0.7332
2015-01-07,INFY,EQ,1954.20,1965.00,1974.75,1950.0,1966.05,1963.55,1962.59,1812479,3.557162e+14,62463,1317720,0.7270

In [6]:
tcs.head() # 495 rows Ã— 14 columns

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-01-01,TCS,EQ,2558.25,2567.0,2567.00,2541.00,2550.00,2545.55,2548.51,183415,4.674345e+13,8002,52870,0.2883
2015-01-02,TCS,EQ,2545.55,2551.0,2590.95,2550.60,2588.40,2579.45,2568.19,462870,1.188740e+14,27585,309350,0.6683
2015-01-05,TCS,EQ,2579.45,2581.0,2599.90,2524.65,2538.10,2540.25,2563.94,877121,2.248886e+14,43234,456728,0.5207
2015-01-06,TCS,EQ,2540.25,2529.1,2529.10,2440.00,2450.05,2446.60,2466.90,1211892,2.989615e+14,84503,714306,0.5894
2015-01-07,TCS,EQ,2446.60,2470.0,2479.15,2407.45,2426.90,2417.70,2433.96,1318166,3.208362e+14,101741,886368,0.6724

## Extracting the data

In [ ]:
def week_mov_avg(datain):
    e=datain.Close.rolling(window=i).mean()
    e.plot()
    return e

## Plotting the data

In [ ]:
infy.Close.plot()

In [ ]:
tcs.Close.plot()

## Predecting and training models using scikit learn

In [53]:
from sklearn.linear_model import LinearRegression
h=LinearRegression()
t=tcs.Open+tcs.High
h.fit([tcs.Open],[tcs.Close])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [25]:
from sklearn.linear_model import LassoLars
h1=LassoLars()
h1.fit([tcs.Open],[tcs.Close])

In [ ]:
h.fit([infy.Open],[infy.Close])

In [ ]:
h1.fit([infy.Open],[infy.Close])